<h1>Events</h1>
<%= link_to 'New Event', new_event_path %>
<%= form_with url: events_path, method: :get, local: true do %>
  <%= label_tag :search, "Search Events" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event_path(event) %>
      - <%= event.start_time %> to <%= event.end_time %>
    </li>
  <% end %>
</ul>
