<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p><%= @event.start_time %> to <%= @event.end_time %></p>
<p>Organized by: <%= link_to @event.user.name, user_path(@event.user) %></p>
<p>Venue: <%= link_to @event.venue.name, venue_path(@event.venue) %></p>
<p>Categories: 
  <% @event.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>
<%# <%= image_tag url_for(@event.image) if @event.image.attached? %> %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
