<h1>Tickets</h1>
<%= link_to 'New Ticket', new_ticket_path %>

<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Event</th>
      <th>User</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to "##{ticket.id}", ticket_path(ticket) %></td>
        <td><%= ticket.event.title.capitalize %></td>
        <td><%= ticket.user.name %></td>
        <td><%= ticket.ticket_type %></td>
        <td>$<%= ticket.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tickets %>