<h1><%= @venue.name %></h1>
<p>Address: <%= @venue.address %></p>
<p>Capacity: <%= @venue.capacity %></p>

<h2>Events at <%= @venue.name %></h2>
<ul>
  <% @venue.events.each do |event| %>
    <li><%= link_to event.title.capitalize, event_path(event) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
